/* 컴퓨터 기술 소개 페이지에 대한 CSS */

body {
    background-color: aliceblue; /* body 배경 색 */
}
#header_line { /* 헤드 밑에 부분 헤드라이드 (hr) */
    height: 1px;
    width: 100%;
    background-color: black;
}
h1 { /* h1태그 색, 중앙 정렬 */
    color: brown;
    text-align: center;
}
p { /* p태그 폰트, 들여쓰기, 글자크기 */
    font-family: 휴먼편지체;
    text-indent: 1em;
    font-size: 1em;
}
h2 > a { /* h2 > a태그 데코X, 파란색, 쉐도우 */
    color: blue;
    text-decoration: none;
    text-shadow: 2px 2px 5px skyblue;
}
ul { /* ul 목차 부분을 감싸는 border */
    border: 1px solid black;
}
ul > a{ /* ul > a태그 데코X, 파란색 */
    text-decoration: none;
    color: blue;
}
footer { /*푸터 부분에 주황 바탕, 둥근 모서리, 왼쪽 여백 추가 */
    background-color: orange;
    border-radius: 10px;
    padding: 0 0 0 10px;
}
footer a { /*푸터에 a태그 글자폰트를 휴먼편지체로 데코는X */
    font-family: 휴먼편지체;
    text-decoration: none;
}
footer p { /* 푸터에 p태그 들여쓰기 값 : 0 */
    text-indent: 0;
}