header {
    width: 1200px;
    margin: 0px auto 0px auto;

}
header p a{
    background-color: #ee302e;
    text-decoration: none;
    color: white;
    font-size: 15p;
    padding: 7px;
    margin: 0 0 0 85%;
}
header p {
    margin: -3px 0 50px 0;
    border: 0;
}
nav {
    display: flex;
    align-items: center; /* nav안 모두 중간 정렬 */
    gap: 20%; /* 이미지와 ul 사이 간격 */
    
}
header nav img {
    width:20em;
    margin-left:30px ;

    
}
header nav ul {
    padding: 0px;
    margin: 0px;
    width: 95em;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 7%;
}
header nav ul li a {

    color: black;
    font-size: 18px;
    text-decoration: none;
}
#hr {
    height: 1px;
    width: 1500px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
nav {
    margin: 0px auto 0px auto;
    width: 1200px;
}
nav ul {
    width: 100%;
    margin: 15px auto 15px auto;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 1%;
    margin-left: 0px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

#banenr h1 {
    width: 1000px;
    border: 1px solid;
    margin: 50px auto 0 auto ;
    font-size: 30px;
    color: white;
    background-color: #ee302e;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    
}
article {
    box-shadow: 0 0 30px 0px rgb(196, 196, 196);
    border-radius: 8px;
    border: 1px solid rgb(218, 218, 218);
    padding: 25px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.name {
    font-size: 23px;
    color: gray;
}
.two_name{
    font-size: 20px;
}
iframe {
    margin-bottom: 20px;
    width: 600px;
    height: 400px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 10px;
}
article img {
    width: 800px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
}
table {
    border-collapse: collapse;

}
table td {
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    font-size: 17px;
    padding: 5px 50px;
    color: rgb(78, 78, 78);
}
.table_first {
    background-color: rgb(218,218,218);
}
.demo {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    background-color: #ee302e;
    border-radius: 8px;
    text-align: center;
}
footer p, address {
    text-align: center;
}